<div class="container">
  <form id='tweets' action='/' method='POST'>
    <input type='name' name='username' placeholder='Twitter Username'>
    <input type='submit' value='Get Tweets!'>
  </form>
  <br>
  <br>

  <form action='/tweet' method='POST'>
    <textarea row='20' col='30' name='tweet' placeholder='Tweet from whomever creates the api and adds a twitter.yaml file '></textarea>
    <input type='submit' value='Tweet it!'>
  </form>
</div>


